/* RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0b0b0b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* CARTE */
.metro-map {
    position: relative;
    width: 1000px;
    max-width: 95%;
    height: 600px;
    background: #111;
    border-radius: 30px;
    border: 4px solid #333;
}

/* LIGNES */
.line {
    position: absolute;
    border-radius: 10px;
}

.line.horizontal {
    height: 8px;
    width: 80%;
    top: 50%;
    left: 10%;
}

.line.vertical {
    width: 8px;
    height: 70%;
    top: 15%;
    left: 40%;
}

.line.diagonal {
    width: 8px;
    height: 70%;
    top: 15%;
    left: 55%;
    transform: rotate(45deg);
    transform-origin: top;
}

/* COULEURS LIGNES */
.line.yellow { background: #ffcf25; }
.line.blue { background: #1e90ff; }
.line.red { background: #ff4d4d; }

/* STATIONS */
.station {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* STATIONS = COULEUR DE LA LIGNE */
.station.yellow { background: #ffcf25; }
.station.blue { background: #1e90ff; }
.station.red { background: #ff4d4d; }

/* CORRESPONDANCES */
.station.hub {
    width: 26px;
    height: 26px;
    box-shadow: 0 0 0 5px #111;
}
